._containerHeroScreen {
    padding: 6%;

    h2 {
        color: rgb(214, 200, 1);
        text-align: center;
        text-shadow: 0px 0px 9px #050201;
    }

    .btn {
        margin: 2%;

    }

    .data {
        margin: 3%;
        -webkit-box-shadow: 2px 2px 11px 5px #000000;
        box-shadow: 2px 2px 11px 5px #000000;
    }

}